.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.Navbar {
  height: 40px;
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.body {
  background-color: aqua;
  height: calc(100%-50px);
  display: flex;
  flex-direction: column;
  width: 100%;
}
.textleft {
  padding: 10px;

  text-align: left;
}
.textright {
  padding: 10px;

  text-align: right;
}
